page-edit-keahlian-ketiga {
    .text-center-select {
        text-align: center;
        max-width: 100% !important;
      }
    
      .teks-tebel {
        font-weight: bold;
        color:#f1c40f;
      }
}
