page-edit-intro-pk {
    img{
        height: 20vh;
        width: 20vh;
       margin: auto;
       margin-top:-17px;
       margin-bottom:-25%;
        align-items: center;
        display: block;
        border-radius: 50%;
      }
}
