<ion-header>
  <ion-navbar>
    <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
    <ion-title class="textHome">Beranda</ion-title>
    <ion-buttons end>
        <button ion-button (click)="ionViewWillEnter()"><ion-icon name="refresh"></ion-icon></button>
      </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ng-template #kosong> <img src="assets/imgs/empty2.png" /> </ng-template>
  <ng-template #noprofil> <img src="assets/imgs/Foto Profil Dark.jpg" /> </ng-template>
  <ng-template #belumlulus> <h4>belum lulus</h4> </ng-template>
  <!-- <h1>Welcome {{userDetails.username}}</h1> -->

  <ion-searchbar (ionInput)="getItems($event)" [showCancelButton]="shouldShowCancel" placeholder="search by name"></ion-searchbar>
  <ion-grid>
    <ion-card>
      <ion-row class="margin-kriteria">
        <ion-col col-6 no-padding no-margin>
          <h1 margin="10%">Kriteria</h1>
        </ion-col>
        <ion-col col-2 no-padding no-margin>
          </ion-col>
        <ion-col col-4 no-padding no-margin>
          <button ion-button class="tom-fil" (click)="filter()">saring</button>
        </ion-col>
      </ion-row>

      <ion-row>
          <ion-col col-12>
            <ion-list>
              <ion-item>
                <ion-label>Program Studi</ion-label>
                <ion-select [(ngModel)]="userPostData.prodi" class="text-center-select">
                  <div *ngFor="let item of dataSetPS">
                    <ion-option [innerHTML]="item.prodi"></ion-option>
                  </div>
                </ion-select>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>

        <ion-row>
            <ion-col col-12>
              <ion-list>
                <ion-item>
                  <ion-label>Bidang Pekerjaan</ion-label>
                  <ion-select class="text-center-select">
                    <div *ngFor="let item of dataSetBP; let i = index">
                      <ion-option
                        [innerHTML]="item.bidang_pekerjaan"
                        (ionSelect)="getBidangKeahlian(i)"
                      ></ion-option>
                    </div>
                  </ion-select>
                </ion-item>
              </ion-list>
            </ion-col>
          </ion-row>

          <ion-row *ngIf="dataSetBK">
              <ion-col col-12>
                <ion-list>
                  <ion-item>
                    <ion-label>Bidang Keahlian</ion-label>
                    <ion-select class="text-center-select"  [(ngModel)]="userPostData.bidang_keahlian">
                      <div *ngFor="let item of dataSetBK">
                        <ion-option [innerHTML]="item.bidang_keahlian"></ion-option>
                      </div>
                    </ion-select>
                  </ion-item>
                </ion-list>
              </ion-col>
            </ion-row>

      <ion-row>
        <ion-col col-12>
          <ion-list>
            <ion-row>
              <ion-col col-12>
                <ion-list>
                  <ion-item>
                    <ion-label>Tahun lulus</ion-label>
                    <ion-datetime displayFormat="YYYY" [(ngModel)]="userPostData.tahun_lulus"></ion-datetime>
                  </ion-item>
                </ion-list>
              </ion-col>
            </ion-row>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-card>
  </ion-grid>

  <ion-list>
    <ion-item *ngFor="let item of items"> {{ item }} </ion-item>
  </ion-list>

  <div *ngIf="dataSet; else: masihkosong">
  <ion-grid *ngFor="let item of dataSet;let i = index">
    <div *ngIf="item.user_id_fk!=userPostData.user_id">
    <ion-row>
      <ion-col col-12 no-padding no-margin>
        <ion-card id="card-pk">
          <ion-card-content>
            <ion-row>
              <ion-col col-6> Nama </ion-col>
              <ion-col col-6>
                <h3 [innerHTML]="item.nama_lengkap | linky"></h3>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-6> Program Studi </ion-col>
              <ion-col col-6>
                <h3 [innerHTML]="item.prodi | linky"></h3>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-6> Tahun lulus </ion-col>
              <ion-col col-6>
                <h3 *ngIf="item.tahun_lulus;else:belumlulus" [innerHTML]="item.tahun_lulus | linky"></h3>
              </ion-col>
            </ion-row>
            <hr />

            <ion-row>
              <ion-col col-5>
                <div *ngIf="dataSet[i].foto_profil; else: noprofil">
                <img src="https://bursakerjaft.000webhostapp.com/img/foto_pencari_kerja/{{item.foto_profil}}" />
                </div>
              </ion-col>
              <ion-col col-7>
                <div *ngIf="item.ttg_saya; else: kosong">
                  <p text-justify [innerHTML]="item.ttg_saya"></p>
                </div>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-12>
        <button id="btn-more" ion-button full (click)="more(i)">lainnya</button>
      </ion-col>
    </ion-row>
  </div>
  </ion-grid>
</div>

<h6 text-center *ngIf="noRecords">tidak ada data</h6>
<ng-template #masihkosong>
    <div id="kosong"><h6>masih kosong</h6></div>
  </ng-template>

<ion-infinite-scroll *ngIf="noScroll" (ionInfinite)="$event.waitFor(doInfinite())">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <!--
      <ion-list>
        <ion-item *ngFor="let item of items">
          {{ item }}
        </ion-item>
      </ion-list>


    <ion-card *ngFor="let item of dataSet" id="home">
        <img src="assets/imgs/logo.png" class="poto"/>
        <ion-card-content>
          <ion-card-title [innerHTML]="item.companyname | linky"></ion-card-title>
            <strong><p [innerHTML]="item.judul_loker | linky"></p></strong> username dari field di database
            <hr/>
           <p [innerHTML]="item.deskripsi_loker| linky" id="descloker"></p>
           <span>{{ convertTime(item.created) | amTimeAgo}}</span> feed dari nama field didatabase
           <hr/>
           <button ion-button full>Apply with my CV</button>
           <hr/>
        </ion-card-content>
      </ion-card>
  -->
</ion-content>
