page-home {
    #home{
        #descloker{
            text-align: justify;
        }
    .poto{
        height: 70vw;
    }
    .button-more{
        margin-left: 27vw;
    }
    hr {
        border: none;
        height: 2px;
    }
}


}
