page-notif-company {
    #nothing{
        background-image:  url(../assets/imgs/kosong.jpg);
        background-position: center;
        background-size:70%;
        background-repeat: no-repeat;
    }
}
