<!--
  Generated template for the NotifCompanyPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar> 
      <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
    <ion-title>Daftar penawaran</ion-title>
   </ion-navbar>
</ion-header>

<ion-content padding>
  <ng-template #masihkosong>
    <div id="kosong"><img src="assets/imgs/kosong.jpg" /></div>
  </ng-template>

  <div *ngIf="dataSet; else: masihkosong">
    <ion-list>
      <ion-item-sliding *ngFor="let item of dataSet; let i = index;">
        <ion-item>
          <ion-avatar item-start>
            <img src="{{img_profil}}" />
          </ion-avatar>
          <h2 [innerHTML]="item.nama_lengkap">nama lengkap</h2>
          <h3 [innerHTML]="item.bidang_pekerjaan">Enginering</h3>
          <p [innerHTML]="item.bidang_keahlian"> Full stack developer</p>
        </ion-item>

        <ion-item-options side="right">
          <button ion-button color="green">
            <ion-icon name="call"></ion-icon>
            Panggil
          </button>
          <button ion-button color="Kuning">
            <ion-icon name="mail"></ion-icon>
            Email
          </button>
        </ion-item-options>
        <ion-item-options side="left">
          <button ion-button color="darkred" (click)="berhentiPenawaran(i)">
            <ion-icon name="close"></ion-icon>
            berhentikan
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </div>
</ion-content>
