page-homecompany {
  .text-center-select {
    text-align: center;
    max-width: 100% !important;
    font-size: 90%;
  }

  #home {
    #descloker {
      text-align: justify;
    }
    .poto {
      height: 70vw;
    }
    .button-more {
      margin-left: 27vw;
    }
    hr {
      border: none;
      height: 2px;
    }
  }

  hr {
    border: none;
    height: 4px;
  }

  .margin-kriteria {
    border-bottom: 4px solid whitesmoke;
  }

  .tom-fil {
    height: 95%;
    width: 100%;
  }

  #card-pk {
    margin-bottom: 0px;
  }
  #btn-more {
    margin-top: 0px;
    width: 96.5%;
    margin-left: 2%;
  }
}
