page-welcome {
  hr{
    border: none;
    height: 3px;
  }
#welcome{
    background: color($colors, bgwelcome);
    h1{
        font-size: 52px;
        margin-top:50px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
		color:#FBC531;
    text-align: center;
    }
    .marginTop{
        margin-top:150px;
    }
}


	.action-sheets-basic-page {
    .acsheetlogin{
      margin-left: 50px;
      color: #508AE4 !important;
      }
        

    img{
      height: 10vh;
     margin: auto;
     margin-top: 0px;
      align-items: center;
      display: block;
    }

  .ion-md-share {
    color: #ED4248;
  }
  .ion-md-arrow-dropright-circle {
    color: #508AE4;
  }
  .ion-md-heart-outline {
    color: #31D55F;
  }
  .action-sheet-cancel ion-icon,
  .action-sheet-destructive ion-icon {
    color: #FBC531;
  }
}

#batik{
  margin-top: 20%;
  img{
  width: 100%;
  overflow: auto;
  position: fixed;
  right: 0;
  left: 0;
  }
}


}

