<!--
  Generated template for the NotificationJobSeekerPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
      </button>
    <ion-title>Notifications</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
   

<div id="notification" *ngFor="let item of dataSet">
  <div *ngIf="item.nama_perusahaan;else nonotification">
<ion-card>
  <ion-card-header [innerHTML]="item.nama_perusahaan">
  </ion-card-header>
  <ion-card-content class="notif">
    Hello, kami dari {{item.nama_perusahaan}} sangat tertarik dengan anda, Harap konfirmasi agar kami dapat menghubungi lebih lanjut. Terima kasih :) 
  </ion-card-content>
    <div id="btn-notif">
    <button ion-button color="green" outline (click)="beriNomor()">call me</button>
    <button ion-button color="danger" outline>not now</button>
  </div>
<hr/>
  <div style="margin-bottom: 5%;text-align: right;margin-right: 5%;">{{ convertTime(item.created) | amTimeAgo}}</div>
</ion-card>
</div>
</div>

<ng-template #nonotification>
    <h6>belum ada notifikasi</h6>
</ng-template>

</ion-content>
