page-notification-job-seeker {
    #notification{
        margin-bottom: 10%;
    .notif{
        text-align: justify;
    }

    #btn-notif{
        vertical-align: middle;
        margin-left: 15vw;
        margin-top: 5vw;
        margin-bottom: 5vw;
    }
}
}   
