page-notification-job-seeker {
        img{
            height: 50%;
            width: 50%;
            margin: auto;
            display: block;
            margin-top: 35%;
        }

    .notif{
        text-align: justify;
    }

    #btn-notif{
        vertical-align: middle;
        margin-left: 15vw;
        margin-top: 5vw;
        margin-bottom: 5vw;
    }

}   
