<!--
  Generated template for the NotificationJobSeekerPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
    <ion-title>Pemberitahuan</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ng-template #jebol> <img src="assets/imgs/kosong.jpg" /> </ng-template>

  <div *ngIf="dataSet; else: jebol">
    <div *ngFor="let item of dataSet">
      <ion-card>
        <ion-card-header [innerHTML]="item.nama_perusahaan"> </ion-card-header>
        <ion-card-content class="notif">
          Hello, kami dari {{ item.nama_perusahaan }} sangat tertarik dengan profil
          anda, dalam waktu dekat kami akan segera menghubungi anda, mohon
          diangkat jika terdapat panggilan dari nomor tidak dikenal. Terima
          kasih :)
        </ion-card-content>
        <!--
            <div id="btn-notif">
            <button ion-button color="green" outline (click)="beriNomor()">call me</button>
            <button ion-button color="danger" outline>not now</button>
          </div>
        -->
        <hr />
        <div style="margin-bottom: 5%;text-align: right;margin-right: 5%;">
          {{ convertTime(item.created) | amTimeAgo }}
        </div>
      </ion-card>
    </div>
  </div>
</ion-content>
