page-notification-job-seeker {
  .card{
    img {
      height: 20vh;
      width: 20vh;
      margin: auto;
      align-items: center;
      display: block;
      border-radius: 50%;
}
  }

  .notif {
    text-align: justify;
  }

  #btn-notif {
    vertical-align: middle;
    margin-left: 15vw;
    margin-top: 5vw;
    margin-bottom: 5vw;
  }
}
